<% include partials/head.ejs %>

<section class="intro">
    <div>
        <h1 class="begin">my (useless) spotify app.</h1>
        <p>Log in and see your playlists. Share this link and others can see it too. Yay!</p>
        <button class="spotify-btn"> <a href="/login">Log in</a></button>
    </div>
</section>


<% include partials/footer.ejs %>
