<% include partials/head.ejs %>

<section class="intro">
    <div>
        <h1 class="begin">your spotify playlists🎧</h1>
        <button class="spotify-btn"> <a href="/login">Log in</a></button>
    </div>
</section>


<% include partials/footer.ejs %>
